*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.link {
    position: relative;
    padding-bottom: 5px;
}


.link::after {
    content: "";
    position: absolute;
    left: 0;
    top: 32px;
    width: 100%;
    height: 2px;
    background-color: #F59E0B;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}


.link:hover::after {
    transform: scaleX(1);
}



i {
    margin-right: 6px;
}


@media screen and (max-width : 767px){ 

nav {
    display: flex; 
    flex-direction: column;
    gap: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999; 
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 64px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding-bottom: 30px;
}


.navigation_links {
    display: none;
}


.navigation_links.active {
    display: block;
}


nav a {
    margin: 10px;
}

.mobile-styles {
    display: flex;
    justify-content: space-between !important;
    margin: 10px;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999; 
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto ;
    width: 100%;
    box-sizing: border-box;
}

.menu {
    font-size: 2rem;
    cursor: pointer;
    margin-top: 10px;
}

}

nav a {
    text-decoration: none;
    color: #3B56C9;
    font-size: 20px;
}

/* The container  */

.container {
    position: relative;
    background-image: url('images/image-accueil\ \(1\).jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    overflow: hidden; 
    margin-top: 70px;
}


.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
}


.title_content {
    position: absolute;
    top: 50%;
    align-items: center;
    transform: translateY(-50%);
    text-align: center;
}

.title_content h1 {
    color: #FFD700;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 2.25rem;
    margin-bottom: 1.5rem;
}


.title_content p {
    font-size: 1.25rem;
    margin: 0 auto 2.5rem;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: white;
}

.btton {
    text-decoration: none;
    padding: 20px;
    background-color: #3B56C9;
    color: white;
    display: inline-block;
    padding: 0.8rem 1.8rem;
    border-radius: 0.375rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.3s ease;
}

.btton:hover {
    background: #4b68e9;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);

}

/* --- LE CONTENEUR PRINCIPAL DE LA GALERIE --- */
#servicesContent {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 35px; 
  padding: 5px;
  margin: 10px; 
} 

.wrapper {
    margin-top: 35px;
    padding-bottom: 90px;
    background-color:  #ffffff;
    box-shadow: 0 4px 10px rgba(7, 3, 3, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 15px;
}


.wrapper:hover {
    transform: translateY(-10px);
}


.liens {
    text-decoration: none;
    padding: 20px;
    background-color: #F59E0B;
    color: white;
    display: inline-block;
    padding: 0.8rem 1.8rem;
    border-radius: 0.375rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
    position: relative;
    top: 65px;
}

.liens:hover {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}

.description {
    margin-top: 30px;
    max-width: 270px ;
    font-size: 1.2rem;
    position: relative;
    left: 35px; 
    top: 10px; 
    color: #6b7280;
}

.icons {
    background-color: #F59E0B;
}


.title {
    color:  #3B56C9;
    margin-top: 40px;
}


.services {
    text-align: center;
    margin-top: 80px;
}

.services i {
    font-size: 40px;
    color: #FFD700;
    margin-top: 30px;
}

.services_content p {
    max-width: 290px ;
    font-size: 1.2rem;
    margin-left: 50px;
    margin-top: 30px;
    color: #6b7280;
}

.services_content h1 {
    color: #1e3a8a;
    font-weight: 600;
    font-size: 2.25rem;
    position: relative;
    display: inline-block;
    text-align: center;
    margin-bottom: 1rem;

}

.services_content h1::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 30%;
  height: 4px;
  background-color: #FFC107; 
  border-radius: 2px;
}


.property-card {
    height: 260px;  
    object-fit: cover;   
    background-size: cover;    
    background-position: center; 
    background-repeat: no-repeat;
    margin: 10px;
    overflow: hidden; 
    display: block;   
    border-radius: 15px; 
}


#gallery {
    flex-direction: column;
    display: flex;
    max-width: 100%;
    gap: 15px;
    border-radius: 20px;
    object-fit: cover; 
    overflow: hidden; 
    margin-top: 20px;
    align-content: center;
    justify-content: center;
}

.propretyContent {
    margin-top: 60px;
    align-content: center;
    background-color: #f3f4f6;
}

.textContent p {
    color: #6b7280;
    margin-top: 60px;
}


.textContent h1 { 
    margin-left: 40px;
    color: #1e3a8a;
    font-weight: 600;
    position: relative;
    display: inline-block;
}


.textContent h1::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 30%;
  height: 4px;
  background-color: #FFC107; 
  border-radius: 2px;
}


.titre {
    color: #1e3a8a;
    margin-left: 15px;
}

.text {
    color: #6b7280;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 1.2rem;
}


.propertyWrapper {
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding-bottom: 30px;
    transition: transform 0.3s ease;
    flex: 1; 
    min-width: 0; 
    display: flex;
    flex-direction: column;
    border-radius: 20px;  
    width: 100%;          
}

.container1 {
    margin-top: 50px;
}


.proprety_liink a{
    text-decoration: none;
    padding: 20px;
    background-color: #F59E0B;
    color: white;
    display: inline-block;
    padding: 0.8rem 1.8rem;
    border-radius: 0.375rem;
    font-weight: 600;
    border: none;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
    position: relative;
    bottom: 15px;
}


.proprety_liink a:hover {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}


.proprety_liink {
  text-align: center;
  margin-top: 30px;
}

.propertyWrapper:hover {
    transform: translateY(-10px);
}


.apropos_img {
    position: relative;
    background-image: url('images/image-apropos.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    overflow: hidden; 
    border-radius: 15px;
}

.apropos_content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 20px;
    padding: 15px;
}


.apropos_content h1 { 
    margin-left: 40px;
    color: #1e3a8a;
    font-weight: 600;
    position: relative;
    display: inline-block;
}


.apropos_content h1::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 30%;
  height: 4px;
  background-color: #FFC107; 
  border-radius: 2px;
}

.apropos_content p {
    margin-top: 30px;
    color: #6b7280;
}


.apropos_content a{
    text-decoration: none;
    padding: 20px;
    background-color: #F59E0B;
    color: white;
    display: inline-block;
    padding: 0.8rem 1.8rem;
    border-radius: 0.375rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    transition: transform 0.3s ease;
    margin-top: 30px;
}


.apropos_content a:hover {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}


.section_apropos {
    margin-top: 60px;
}

.adress_content {
    margin: 15px;
    padding: 15px;
}


.adress {
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding-bottom: 90px;
    border: 1px solid #E2EBF0;
    width: 335px;
    margin: 20px;
    border-radius: 10px;
}

.adress_content p {
   color: #6b7280;
   margin-top: 10px;
}


.adress_content h2 {
   color: #1e3a8a;
   margin-top: 10px;
}


.contact-content {
    margin-top: 60px;
    align-content: center;
    background-color: #f3f4f6;
}


.adressList {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-content: center;
    justify-content: center;
    margin-top: 30px;
}

.adressList p {
    margin-left: 25px;
}

.adressList i {
    color: #e0b300;
}


.my_contact {
    margin: 20px;
    padding: 15px;
}


.my_contact h1 { 
    margin-left: 40px;
    color: #1e3a8a;
    font-weight: 600;
    position: relative;
    display: inline-block;
    font-size: 2.25rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.my_contact h1::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 30%;
  height: 4px;
  background-color: #FFC107; 
  border-radius: 2px;
}

.my_contact p {
   color: #6b7280;
   margin-top: 25px;
   font-size: 1.25rem;
}


#contact-form {
  margin: 40px auto;
  padding: 24px;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding-bottom: 90px;
  border: 1px solid #E2EBF0;
  width: 335px;
  margin: 20px;
  border-radius: 10px;
  position: relative;
}

#contact-form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

/* LABEL */
#contact-form label {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 600;
  color: #1e3a8a;
}

/* INPUT & TEXTAREA */
#contact-form input,
#contact-form textarea {
  padding: 10px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

/* TEXTAREA */
#contact-form textarea {
  min-height: 100px;
  resize: vertical;
}

/* FOCUS */
#contact-form input:focus,
#contact-form textarea:focus {
  border-color:  #1e3a8a;
}

/* BOUTON */
#contact-form button {
  padding: 8px;
  font-size: 17px;
  font-weight: 600;
  background-color: #F59E0B;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  margin-left: 50px;
  position: relative;
  top: 40px;
}

/* HOVER BOUTON */
#contact-form button:hover {
  background: #e0b300;
  transform: translateY(-2px);
}

#formResponse {
    transition: opacity 0.5s ease-in-out;
    position: relative; 
    top: 60px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 5px;
    padding: 10px;
}

footer {
    background-color: #0f172a;
    color: #ffffff;
    padding: 4rem 0 2rem;
    margin-top: 50px;
}

.reseaux-group a { 
    background: rgba(255, 255, 255, 0.1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease, transform 0.2s ease;
}

.reseaux-group a:hover {
    background: #e0b300;
    transform: translateY(-2px);
}

.reseaux-group  {
    margin-top: 35px;
}


.footer-title
{  
    font-weight: 600;
    position: relative;
    display: inline-block;
}


.footer-title::after {
  content: "";
  position: absolute;
  left: 30%;
  transform: translateX(-50%);
  bottom: -7px;
  width: 55%;
  height: 2px;
  background-color: #FFC107; 
  border-radius: 2px;
}

.trait {
    width: 320px;
    height: 2px;
    background: #000;
    margin: 8px auto ;
    text-align: center;
}

.copyright{
    text-align: center;
    color: #6b7280;
    margin-top: 25px;
    font-size: 1rem;
}

.reseaux-group {
    display: flex;
    gap: 22px;
}

.network-arrow p {
    margin-top: 30px;
    color: #ffd700;
}


.footer-links {
    margin-top: 30px;
}

.footer-links a {
    text-decoration: none;
    color: #6b7280;
    display: flex;
    gap: 2px;
    transition: background 0.3s ease, transform 0.2s ease;
    font-size: 18px;
}


.footer-links a:hover {
    color: rgb(235, 85, 30);
    transform: translateY(-2px);
}


.footer-times ul li , .footer-contacts ul li  {
    margin-top: 30px;
}


li {
    list-style: none;
}


@media screen and (min-width : 768px) {

nav {
    display: flex; 
    flex-direction: row;
    gap: 40px;
}

.menu {
    display: none;
}


.btn {
    position: relative;
    bottom: 12px;
}


.nav_contenaire img {
  margin-left: 70px;
  border-radius: 50%;
}

.navigation_links {
    margin-right: 80px;
    margin-top: 13px;
    /* display: none; */
}

.btn::after {
    content: "";
    position: absolute;
    top: 60px;
    left: 10px;
    width: 100%;
    height: 2px;
    background-color: #F59E0B;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.btn {
    padding: 15px;
    background-color: #FFB224;
    border-radius: 10px;
}

.btn:hover {
    background: #F59E0B;
}

.btn:hover::after {
    transform: scaleX(1);
}


.btn:hover::after {
    transform: scaleX(1);
} 


.nav_contenaire {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999; 
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto ;
    width: 100%;
    box-sizing: border-box;
}


.trait {
    width: 1120px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px;
    padding: 20px;
    padding-bottom: 50px;
}


.network-arrow p {
    font-size: 1.25rem;
}

.container {
    height: 530px;
    margin-top: 90px;
}

.title_content h1  {
    font-size: 3.7em;
}

.title_content {
   left: 25%;
}

    
.title_content p {
    font-size: 1.58rem;
}

.btton {
    font-size: 1.25em;
}

   
#servicesContent {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto; 
    gap: 30px; 
}

   
.description {
    max-width: 345px ;
    font-size: 1.2rem;
}

.services_content h1 {
    font-size: 3rem;
}

.services_content p {
    max-width: none;
    font-size: 1.4rem;
}

.title {
    font-size: 1.4rem;
}

.property-card {
    width: 97%;
}

#gallery {
    display: flex;
    flex-direction: row;
    margin: 40px;
}


.textContent h1 { 
    margin-left: 440px;
    font-size: 3rem;
}


.textContent p { 
    margin-left: 360px;
    font-size: 1.3rem;
}

.apropos_content {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    gap: 90px;
    margin: 60px;
    padding: 15px;
}

.section_apropos {
    margin-top: 110px;
}

.apropos_img {
    width: 2850px;
}


.apropos_content h1 { 
    margin-left: 40px;
    font-size: 3.25rem;
}

.apropos_text {
    position: relative;
    bottom: 90px;
}

.apropos_content p { 
    font-size: 1.1rem;
    line-height: 1.6;
}

.form-container  {
    flex-direction: row;
    justify-content: space-evenly;
}


.adress {
    padding-bottom: 90px;
    width: 550px;
    height: 500px;
    margin: 20px;
}

#contact-form {
  width: 550px;
  height: 500px;
}


.my_contact {
    text-align: center;
}

.my_contact h1 {
    font-size: 3.15rem;
}

#contact-form button {
    width: 400px;
    padding: 10px;
}
}
